<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rooms</title>
    <link href="/css/styles.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
        integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
        integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"
        integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
    <header>
        <div class="content flex-space">
            <div class="logo">
                <img src="images/logo.png" alt="Logo">
            </div>
            <div class="navlinks">
                <ul id="menuList">
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </div>

        </div>
    </header>
    
    <section class="rooms">
        <div class="container top">
            <div class="heading">
                <h1>Explore</h1>
                <h2>Our rooms</h2>
                <p>She put the pen to paper but she couldn't bring herself to actually write anything</p>
            </div>
            <form action="/room" method="post">
            <div class="content mtop">
                <div class="owl-carousel owl-carousel1 owl-theme">
                    <div class="item">
                        <div class="image">
                            <img src="https://archello.s3.eu-central-1.amazonaws.com/images/2019/06/25/Bahir-Dar-Hilton-Hotel---Typical-King-Guest-Room.1561451726.9585.jpg"
                                alt="">

                        </div>
                        <div class="text">
                            <h2>Superior room</h2>
                            <div class="rate flex">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <p>She put the pen to paper but she couldn't bring herself to actually write anything.</p>
                            <div class="button flex">
                                <input class="primary-btn" type="submit" value="Confirm">
                                <h3>$250<span><br> per night</span></h3>
                            </div>
                        </div>

                    </div>
                    <div class="item">
                        <div class="image">
                            <img src="https://images.trvl-media.com/hotels/1000000/10000/3400/3335/32928f94.jpg?impolicy=fcrop&w=670&h=385&p=1&q=medium"
                                alt="">

                        </div>
                        <div class="text">
                            <h2>Superior room</h2>
                            <div class="rate flex">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <p>She put the pen to paper but she couldn't bring herself to actually write anything.</p>
                            <div class="button flex">
                                <input class="primary-btn" type="submit" value="Confirm">
                                <h3>$270 <span><br> per night</span></h3>
                            </div>
                        </div>

                    </div>
                    <div class="item">
                        <div class="image">
                            <img src="https://images.trvl-media.com/hotels/1000000/10000/3400/3335/9ffeb52f.jpg?impolicy=fcrop&w=670&h=385&p=1&q=medium"
                                alt="">

                        </div>
                        <div class="text">
                            <h2>Superior room</h2>
                            <div class="rate flex">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <p>She put the pen to paper but she couldn't bring herself to actually write anything.</p>
                            <div class="button flex">
                                <input class="primary-btn" type="submit" value="Confirm">
                                <h3>$240 <span><br> per night</span></h3>
                            </div>
                        </div>

                    </div>
                    <div class="item">
                        <div class="image">
                            <img src="https://images.trvl-media.com/hotels/1000000/10000/3400/3335/32928f94.jpg?impolicy=fcrop&w=670&h=385&p=1&q=medium"
                                alt="">

                        </div>
                        <div class="text">
                            <h2>Superior rooms</h2>
                            <div class="rate flex">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <p>She put the pen to paper but she couldn't bring herself to actually write anything.</p>
                            <div class="button flex">
                                <input class="primary-btn" type="submit" value="Confirm">
                                <h3>$300 <span><br> per night</span></h3>
                            </div>
                        </div>

                    </div>
                    <div class="item">
                        <div class="image">
                            <img src="https://omotgtravel.com/wp-content/uploads/2017/02/Presidential-Suite-Bedroom1_N9Q3389.jpg"
                                alt="">

                        </div>
                        <div class="text">
                            <h2>Superior rooms</h2>
                            <div class="rate flex">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <p>She put the pen to paper but she couldn't bring herself to actually write anything.</p>
                            <div class="button flex">
                                <input class="primary-btn" type="submit" value="Confirm">
                                <h3>$300 <span><br> per night</span></h3>
                            </div>
                        </div>

                    </div>
                    <div class="item">
                        <div class="image">
                            <img src="https://archello.s3.eu-central-1.amazonaws.com/images/2019/06/25/Bahir-Dar-Hilton-Hotel---Typical-King-Guest-Room.1561451726.9585.jpg"
                                alt="">

                        </div>
                        <div class="text">
                            <h2>Superior rooms</h2>
                            <div class="rate flex">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <p>She put the pen to paper but she couldn't bring herself to actually write anything.</p>
                            <div class="button flex">
                                <input class="primary-btn" type="submit" value="Confirm">
                                <h3>$300 <span><br> per night</span></h3>
                            </div>
                        </div>

                    </div>
                    <div class="item">
                        <div class="image">
                            <img src="https://omotgtravel.com/wp-content/uploads/2017/02/Presidential-Suite-Bedroom1_N9Q3389.jpg"
                                alt="">

                        </div>
                        <div class="text">
                            <h2>Superior rooms</h2>
                            <div class="rate flex">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <p>She put the pen to paper but she couldn't bring herself to actually write anything.</p>
                            <div class="button flex">
                                <input class="primary-btn" type="submit" value="Confirm">
                                <h3>$300 <span><br> per night</span></h3>
                            </div>
                        </div>

                    </div>
                    <div class="item">
                        <div class="image">
                            <img src="https://images.trvl-media.com/hotels/1000000/10000/3400/3335/9ffeb52f.jpg?impolicy=fcrop&w=670&h=385&p=1&q=medium"
                                alt="">

                        </div>
                        <div class="text">
                            <h2>Superior rooms</h2>
                            <div class="rate flex">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <p>She put the pen to paper but she couldn't bring herself to actually write anything.</p>
                            <div class="button flex">
                                <input class="primary-btn" type="submit" value="Confirm">
                                <h3>$300 <span><br> per night</span></h3>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
            </form>
        </div>

    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
    integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <script>
        $('.owl-carousel').owlCarousel({
            loop: true,
            margin: 40,
            nav: true,
            dots: false,
            navText: ["<i class='fa fa-chevron-left'></i>", "<i class='fa fa-chevron-right'></i>"],
            responsive: {
                0: {
                    items: 1
                },
                700: {
                    items: 2
                },
                1000: {
                    items: 3
                }
            }
        })
    </script>


<footer>
    <div class="container grid">
        <div class="box">
            <img src="images/logo.png" alt="">
            <p>A random paragraph can also be an excellent way for a writer to tackle writers' block. Writing block can often happen due to being stuck with a current project that the writer is trying to complete.</p>
            <div class="icon">
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-telegram"></i>

            </div>
        </div>
        <div class="box">
            <h2>Links</h2>
            <ul>
                <li>About us</li>
                <li>Contact us</li>
                <li>Services</li>
                <li>Privacy policy</li>
            </ul>
        </div>
        <div class="box ">
            <h2>Contact us</h2>
            <p>Another writing challenge can be to take the individual sentences in the random paragraph and incorporate a single sentence from that into a new paragraph to create a short story. </p>
            <i class="fa fa-location-dot"></i>
            <label>395001 Athwaline, Surat, India</label>
            <br>
            <i class="fa fa-phone"></i>
            <label>[91] 123 654 989</label><br>
            <i class="fa fa-envelope"></i>
            <label>info@ethio.com</label>
        </div>
    </div>

</footer>

<div class="legal">
    <p class="container">&#169 2022 Ethio Hotel. All Rights Reserved.</p>

</div>
    
</body>
</html>