<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News</title>
    <link href="/css/styles.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">

</head>
<body>
    <header>
        <div class="content flex-space">
            <div class="logo">
                <img src="images/logo.png" alt="Logo">
            </div>
            <div class="navlinks">
                <ul id="menuList">
                    <li><a href="/logout">Logout</a></li>
                </ul>
            </div>

        </div>
    </header>
    
<section class="status">
    <h1>Your booking is placed successfully!</h1>
    <h2><%=mail%></h2>
</section>

<footer>
    <div class="container grid">
        <div class="box">
            <img src="images/logo.png" alt="">
            <p>A random paragraph can also be an excellent way for a writer to tackle writers' block. Writing block can often happen due to being stuck with a current project that the writer is trying to complete.</p>
            <div class="icon">
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-telegram"></i>

            </div>
        </div>
        <div class="box">
            <h2>Links</h2>
            <ul>
                <li>About us</li>
                <li>Contact us</li>
                <li>Services</li>
                <li>Privacy policy</li>
            </ul>
        </div>
        <div class="box ">
            <h2>Contact us</h2>
            <p>Another writing challenge can be to take the individual sentences in the random paragraph and incorporate a single sentence from that into a new paragraph to create a short story. </p>
            <i class="fa fa-location-dot"></i>
            <label>395001 Athwaline, Surat, India</label>
            <br>
            <i class="fa fa-phone"></i>
            <label>[91] 123 654 989</label><br>
            <i class="fa fa-envelope"></i>
            <label>info@ethio.com</label>
        </div>
    </div>

</footer>

<div class="legal">
    <p class="container">&#169 2022 Ethio Hotel. All Rights Reserved.</p>

</div>
    
</body>
</html>